version: "3.3"

services:

  traefik:
    image: "traefik:{{ traefik_version }}"
    container_name: "traefik"
    userns_mode: "host"
    security_opt:
      - "no-new-privileges:true"
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik_network"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.mqtt.address=:1883"
      - "--entrypoints.wssecure.address=:9292"
      - "--entrypoints.management.address=:8847"
      - "--providers.file.filename=/etc/traefik/traefik_dynamic.toml"
      - "--providers.file.watch=true"
    networks:
      - "traefik_network"
    ports:
      - 80:80
      - 443:443
      - 1883:1883
      - 9292:9292
      - 8847:8847
    volumes:
      - "$LOCATION_OF_CERTS/certificate.pem:/certificate.pem:ro"
      - "$LOCATION_OF_CERTS/certificate.key:/certificate.key:ro"
      - "./traefik_dynamic.toml:/etc/traefik/traefik_dynamic.toml"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: unless-stopped

  linkmatrix_apache:
    image: dimages.mobileviewpoint.com/linkmatrix_apache:{{ apache_version }}
    depends_on:
      - mqtt
      - apollo
      - memcached
    security_opt:
      - "no-new-privileges:true"
    container_name: "linkmatrix_apache"
    networks:
      - "traefik_network"
    expose:
      - "80"
    labels:
      - traefik.enable=true
      - traefik.http.routers.cloudtest-api.rule=Host(`$LM_IP_ADDRESS`)
      - traefik.http.routers.cloudtest-api.entrypoints=websecure
      - traefik.http.routers.cloudtest-api.tls=true
      - traefik.http.routers.cloudtest-app.rule=Host(`$LM_DNS_NAME`)
      - traefik.http.routers.cloudtest-app.entrypoints=websecure
      - traefik.http.routers.cloudtest-app.tls=true
      - traefik.port=80
      - traefik.http.services.cloudtest-app.loadbalancer.server.port=80
      - traefik.docker.network=traefik_network
    environment:
      - DB_USER=$DBUSER
      - DB_PASS=$DBPASS
      - DB_NAME=$DBNAME
      - DB_HOST=$DBHOST
      - APOLLO_HOST=$APOLLOHOST
      - APOLLO_PASS=$APOLLOPASS
      - MQTT_HOST=$MQTTHOST
      - MQTT_USER=$MQTTUSER
      - MQTT_PASS=$MQTTPASS
      - MQTT_DNS=$MQTT_DNS_NAME
      - MGMT_HOST=$MGMT_DNS_NAME
      - MEMCACHED_HOST=$MEMCACHEDHOST
      - MEMCACHED_PORT=$MEMCACHEDPORT
    restart: unless-stopped

  mqtt:
    image: dimages.mobileviewpoint.com/linkmatrix_mqtt:{{ mqtt_version }}
    security_opt:
      - "no-new-privileges:true"
    container_name: "mqtt"
    networks:
      - "traefik_network"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mqtt_websocket.rule=Host(`$MQTT_DNS_NAME`)"
      - "traefik.http.routers.mqtt_websocket.entrypoints=wssecure"
      - "traefik.http.routers.mqtt_websocket.tls=true"
      - "traefik.http.services.mqtt_websocket.loadbalancer.server.port=9292"
      - "traefik.tcp.services.mqtt.loadbalancer.server.port=1883"
      - "traefik.tcp.routers.mqtt.entrypoints=mqtt"
      - "traefik.tcp.routers.mqtt.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.mqtt.service=mqtt"
    environment:
      - DB_USER=$DBUSER
      - DB_PASS=$DBPASS
      - DB_NAME=$DBNAME
      - DB_HOST=$DBHOST
      - MQTT_HOST=$MQTTHOST
      - MQTT_USER=$MQTTUSER
      - MQTT_PASS=$MQTTPASS
    restart: unless-stopped

  apollo:
    image: dimages.mobileviewpoint.com/linkmatrix_apollo:{{ apollo_version }}
    security_opt:
      - "no-new-privileges:true"
    container_name: "apollo"
    networks:
      - "traefik_network"
    environment:
      - DB_USER=$DBUSER
      - DB_PASS=$DBPASS
      - DB_NAME=$DBNAME
      - DB_HOST=$DBHOST
      - APOLLO_PASS=$APOLLOPASS
    restart: unless-stopped

  vidman:
    image: dimages.mobileviewpoint.com/linkmatrix_vidman:{{ vidman_version }}
    depends_on:
      - mqtt
      - apollo
      - memcached
    security_opt:
      - "no-new-privileges:true"
    container_name: "linkmatrix_vidman"
    networks:
      - "traefik_network"
    environment:
      - DB_USER=$DBUSER
      - DB_PASS=$DBPASS
      - DB_NAME=$DBNAME
      - DB_HOST=$DBHOST
      - APOLLO_HOST=$APOLLOHOST
      - APOLLO_PASS=$APOLLOPASS
      - MQTT_HOST=$MQTTHOST
      - MQTT_USER=$MQTTUSER
      - MQTT_PASS=$MQTTPASS
      - MGMT_HOST=$MGMT_DNS_NAME
      - MEMCACHED_HOST=$MEMCACHEDHOST
      - MEMCACHED_PORT=$MEMCACHEDPORT
    restart: unless-stopped

  memcached:
    image: memcached:1.6.12-bullseye
    security_opt:
      - "no-new-privileges:true"
    container_name: "memcached"
    networks:
      - "traefik_network"
    command:
      - "-m 256"
      - "-c 4096"
    expose:
      - "11211"
    restart: unless-stopped

  wmt-management:
    image: dimages.mobileviewpoint.com/wmt-management-docker:{{ management_version }}
    container_name: "wmt-management"
    hostname: wmt-management
    networks:
      - "traefik_network"
    labels:
      - traefik.enable=true
      - "traefik.tcp.services.management.loadbalancer.server.port=8847"
      - "traefik.tcp.routers.management.entrypoints=management"
      - "traefik.tcp.routers.management.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.management.service=management"
      - traefik.docker.network=traefik_network
    environment:
      - MYSQL_HOST=$DBHOST
      - MYSQL_ROOT_PASSWORD=$DBROOTPASS
      - MYSQL_DATABASE=$DBNAME_MGMT
      - MYSQL_USER=$DBUSER
      - MYSQL_PASSWORD=$DBPASS
      - LM_DOCKER_NAME=linkmatrix_apache
      - TZ=$TIMEZONE
    restart: unless-stopped

networks:
  traefik_network: