LOCATION_OF_CERTS={{ docker_location }}
DBROOTPASS={{ db_root_pass }}
DBNAME_MGMT={{ dbname_mgmt }}
DBUSER={{ db_user }}
DBPASS={{ db_pass }}
DBNAME={{ dbname_linkmatrix }}
DBHOST={{ db_host }}
APOLLOHOST={{ apollo_host }}
APOLLOPASS={{ apollo_pass }}
MQTTHOST={{ mqtt_host }}
MQTTUSER={{ mqtt_user }}
MQTTPASS={{ mqtt_pass }}
MQTT_DNS_NAME={{ mqtt_dns }}
MGMT_DNS_NAME={{ mgmt_host }}
MEMCACHEDHOST={{ memcached_host }}
MEMCACHEDPORT={{ memcached_port }}
LM_IP_ADDRESS={{ hostvars[aws_host]['ansible_host'] }}
LM_DNS_NAME={{ lm_dns }}
TIMEZONE={{ timezone }}