version: "3.3"

services:

  mysql:
    image: mysql:{{ mysql_version }}
    container_name: "mysql"
    hostname: mysql
    volumes:
      - {{ docker_location }}/db:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
      - {{ docker_location }}/create_db.sql:/docker-entrypoint-initdb.d/create_db.sql
      - {{ docker_location }}/insert_user.sql:/docker-entrypoint-initdb.d/insert_user.sql
      - {{ docker_location }}/complete_database.sql:/var/complete_database.sql
    command: --sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
    environment:
      - MYSQL_ROOT_PASSWORD=$DBROOTPASS
      - MYSQL_DATABASE=$DBNAME
      - MYSQL_USER=$DBUSER
      - MYSQL_PASSWORD=$DBPASS
      - TZ=$TIMEZONE
    ports:
      - "3306:3306"
    restart: unless-stopped
